$blue : #00a9ff;
$darkblue : #0077B3;
@import "~bootstrap/scss/bootstrap";

html {
  scroll-behavior: smooth;
}

#scrollable::-webkit-scrollbar {
  display: none;
}

#scrollable {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background-color: white;
  font-family: "Roboto", sans-serif !important;
}

#image-accueil {
  width: 110px;
}

#myTab.nav {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  display: block;
}

#myTab.nav li {
  display: inline-block;
  float: none;
}

#menu {
  background: $blue;
  color: #fff;
  transition: all 0.3s;
  border-bottom: 20px solid $darkblue;
}

.dropdown-menu {
  color: $blue;
  background: #fff;
  transition: all 0.3s;
}

hr {
  background-color: white;
}

.nav-link, .dropdown-menu .dropdown-item {
  font-family: "Oswald", Helvetica, sans-serif;
  font-weight: bold;
}

.dropdown-item {
  color: $blue;
}

.nav-link {
  color: white;
}

#myTab .nav-link {
  color: $blue;
}


.nav-link {
  padding: 0.5rem;
}

#menu .nav-link:hover {
  text-decoration: none;
  color: white;
  border-bottom: 3px solid $darkblue;
}

.dropdown-menu .dropdown-item:hover {
  background-color: $blue;
  background-image: none;
  color: white;
}

#myTab .nav-link:hover {
  background-color: $blue;
  background-image: none;
  color: white;
}

table {
  display: block;
  max-height: 82vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.jumbotron {
  background: $blue;
  color: #fff;
}

#home_button {
  color: $blue;
}

img, a {
  transition: 0.4s all;
  -moz-transition: .4s all;
  -webkit-transition: .4s all;
  -o-transition: .4s all;
}

.btn-green, .badge-green {
  background: green;
  color: white;
  border: white solid 1px;
}

.btn-darkblue {
  background: $darkblue;
  color: white;
}

.btn-darkblue:hover {
  color: white;
}

@media (max-width: 767px) {
  #languages {
    width: 15px;
  }

  html {
    font-size: 14px;
  }

  .table th, .table td {
    padding: 0.5rem;
  }
}