$blue : #00a9ff;
@import "~bootstrap/scss/bootstrap";
//
html {
  min-height: 100%;
  position: relative;
}

body {
    height: 100%;
}

#sidebar {
  position: fixed;
  min-height: 100vh;
  background: #00a9ff;
  color: #fff;
  transition: all 0.3s;
}

hr {
  background-color: white;
}

#sidebar .nav-link {
  color: white;
  padding: 0.5rem;
}

#sidebar .nav-link:hover {
  background-color: white;
  background-image: none;
  color: #00a9ff;
}

#myTab .nav-link:hover {
  background-color: #00a9ff;
  background-image: none;
  color: white;
}

table {
  display: block;
  max-height: 82vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.jumbotron {
  background: #00a9ff;
  color: #fff;
}

#home_button {
  color: #00a9ff;
}

.btn-green {
  background: green;
}

@media (max-width: 767px) {
  #languages {
    width: 15px;
  }

  #sidebar #icon {
    font-size: 1.5rem;
  }

  #sidebar .nav-link {
    padding: 0.5rem;
  }

  html {
    font-size: 14px;
  }

  .table th, .table td {
    padding: 0.5rem;
  }
}