{% extends 'layout.html.twig' %}
{% trans_default_domain 'translations' %}

{% block content %}
    <div class="alert alert-primary col-md-12" id="text">
        {{ 'translations.bets.bets_alert'|trans }}
    </div>
    <div class="mt-2">
    {{ form_start(form) }}
    {{ form_errors(form) }}
        <div class="row">
            <div class="col-md-4">
                {{ form_row(form.competition) }}
            </div>
            <div class="col-md-3">
                {{ form_row(form.date) }}
            </div>
            <div class="col-md-2">
                {{ form_row(form.submit) }}
            </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
        <hr>
        <div>
            <p class="small">
            <button class="btn-sm btn-green">
                <span class="fa fa-sort-up" style="color: white"></span>
            </button>
            <button class="btn-sm btn-danger">
                <span class="fa fa-sort-down"></span>
            </button > :
                {{ 'translations.bets.legend' | trans }}
            </p>
        </div>

        <div class="row m-0">
            {% if matches | length > 0 %}
                {% include '/partial/_matches.html.twig' %}
            {% endif %}
            {% if matches | length < 1 %}
                <div class="mt-5 pt-5 text-center">
                    <h1><span  class="badge badge-danger">{{ 'translations.bets.no_games_today'|trans }}</span></h1>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}