{% extends 'layout.html.twig' %}
{% trans_default_domain 'translations' %}

{% block body %}
    <div class="jumbotron">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-12 text-center">
                <img src="{{ asset('build/images/logo.png') }}" class="img-fluid" width="300">
                {% include "partial/_languages.html.twig" %}
            </div>
            <div class="col-md-9 col-lg-9">
                <h1 class="display-4">{{ 'translations.home.welcome'|trans }}</h1>
                <p class="lead">{{ 'translations.home.advises'|trans }}</p>
                <hr class="my-4">
                <p class="text-justify">{{ 'translations.home.explanation'|trans }}</p>
                <p class="text-justify">{{ 'translations.home.statistics'|trans }}</p>
                <p class="text-justify">{{ 'translations.home.enjoy'|trans }}</p>
                <p class="lead">
                    <a class="btn btn-light btn-lg" href="{{ path('bets') }}" role="button" id="home_button">{{ 'translations.home.click'|trans }}</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}