<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}My Football Bets{% endblock %}</title>
    {% block stylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('build/images/logo.png') }}" />
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="container-fluid" style="min-height: 100vh">
        <div class="row">
            {% include 'sidebar.html.twig' %}
            <div class="offset-2 col-10 mt-1">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    <div class="small text-center mt-3" style="position: relative; bottom: 0; background: #00a9ff; color: white; margin: 0; z-index: 999">
        {{ 'translations.footer' | trans({}, 'translations') }} <a style="animation: none; color: white" href="https://mickaelpegn.in">Mickael Pegnin</a>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('build/app.js') }}"></script>
{% endblock %}
</body>
</html>
