{% trans_default_domain 'translations' %}

<div id="sidebar" class="col-2 col-sm-2 col-md-2 col-lg-2 menu sticky-top p-3">
    <div class="text-center">
        <a href="{{ path('home') }}">
            <img class="img-fluid" src="{{ asset('build/images/logo.png') }}">
        </a>
    </div>
    <div class="nav flex-column mt-5 text-center">
        <a id="icon" href="{{ path('home') }}" class="mt-2 rounded nav-link">
            <div class="d-flex w-100 align-items-center">
                <span class="fa fa-home"></span>
                <span class="d-none d-sm-none d-md-block">&nbsp;{{ 'translations.sidebar.home'|trans }}</span>
            </div>
        </a>

        <a id="icon" href="{{ path('bets') }}" class="mt-2 rounded nav-link">
            <div class="d-flex w-100 align-items-center">
                <span class="fa fa-gamepad"></span>
                <span class="d-none d-sm-none d-md-block">&nbsp;{{ 'translations.sidebar.bets'|trans }}</span>
            </div>
        </a>
        <div class="btn-group w-100 text-center rounded nav-link mt-2" role="group">
            <a id="btnGroupDrop1" class="dropdown-toggle d-flex align-items-center" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i id="icon" class="fa fa-chart-bar"></i><span class="d-none d-sm-none d-md-block">&nbsp;{{ 'translations.sidebar.statistics'|trans }}</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" style="color: #00a9ff" href="{{ path('statistics_more_less') }}">+/- 2.5</a>
                <a class="dropdown-item" style="color: #00a9ff">1/N/2</a>
            </div>
        </div>
        <a id="icon" href="{{ path('combination') }}" class="mt-2 rounded nav-link">
            <div class="d-flex w-100 text-center align-items-center">
                <span class="fa fa-tasks"></span>
                <span class="d-none d-sm-none d-md-block">&nbsp;{{ 'translations.sidebar.combination'|trans }}</span>
            </div>
        </a>
    </div>
    <hr>
    {% include "partial/_languages.html.twig" %}
</div>