<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="text-center">
            <a href="?_locale=en" class="rounded">
                <img id="languages" src="{{ asset('build/images/english_flag.png') }}" width="30"></a>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="text-center">
            <a href="?_locale=fr" class="rounded">
                <img id="languages" src="{{ asset('build/images/france_flag.png') }}" width="30"></a>
        </div>
    </div>
</div>