{% if momentForm is not null and momentForm %}
    <span class="badge badge-secondary badge-green ml-1"><i class="fa fa-sort-up" style="color: white"></i></span>
{% elseif momentForm is not null and momentForm == false %}
    <span class="badge badge-secondary badge-danger ml-1"><i class="fa fa-sort-down"></i></span>
{% endif %}