{% if match.momentForm is not same as(null) and match.momentForm %}
    <button class="badge btn-green">
        <span class="fa fa-sort-up" style="color: white"></span>
    </button>
{% elseif match.momentForm is not same as(null) and match.momentForm is same as(false) %}
    <button class="badge badge-danger">
        <span class="fa fa-sort-down"></span>
    </button >
{% endif %}