{% if momentForm is not same as(null) and momentForm %}
    <button class="badge btn-green ml-1">
        <span class="fa fa-sort-up" style="color: white"></span>
    </button>
{% elseif momentForm is not same as(null) and momentForm is same as(false) %}
    <button class="badge badge-danger ml-1">
        <span class="fa fa-sort-down"></span>
    </button >
{% endif %}