<div class="row">
    <div class="col-md-6">
        <div class="text-center">
            <a href="?_locale=en" class="rounded">
                <img src="{{ asset('build/images/english_flag.png') }}" width="30"></a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="text-center">
            <a href="?_locale=fr" class="rounded">
                <img src="{{ asset('build/images/france_flag.png') }}" width="30"></a>
        </div>
    </div>
</div>